<section id="home-top">
    <p>"Pure Gold from Nature's Hive"</p>
    <br>
    <img class="textdeco" src="images/textdeco.png" alt="">
    <h1 class="fancy">Mellisfera</h1>
    <h5>Harvested by Nature, Crafted with Care - Sweetening Your Life, One Drop at a Time.</h5>
</section>

<section class="hero swap">
    <img src="images/placeholder.jpg" alt="hero image">
    <div>
        <h4 class="fancy">Nature's Sweetest Gift</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A, nemo.</p>
        <p>Sapiente quae sint labore, placeat blanditiis qui</p>

        <button class="button" hx-get="pages/shop.html" hx-target="#container" hx-swap="innerHTML"> <i
                class="fa-solid fa-basket-shopping"></i> SHOP </button>
    </div>
</section>

<section class="hero">
    <img src="images/placeholder.jpg" alt="hero image">
    <div>
        <h4 class="fancy">Quality You Can Trust</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A, nemo. Iste</p>
        <p>Sapiente quae sint labore, placeat blanditiis qui perspiciatis at</p>

        <button class="button" hx-get="pages/about.html" hx-target="#container" hx-swap="innerHTML"> <i
                class="fa-solid fa-address-book"></i> ABOUT </button>
    </div>
</section>

<section id="honeycomb">
    <div>
        <h3 class="fancy">Beekeeping since 2018</h3>
        <p>Serving Customers and Making Products with Honey from our Bees</p>
    </div>
</section>

<section id="cards">
    <div class="card">
        <img src="images/placeholder.jpg" alt="bee">
        <h4 class="fancy">100% Natural</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit optio voluptatibus mollitia architecto possimus
            nulla ut?</p>
    </div>
    <div class="card">
        <img src="images/placeholder.jpg" alt="honey">
        <h4 class="fancy">Organic Honey</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit optio voluptatibus mollitia architecto possimus
            nulla ut?</p>
    </div>
    <div class="card">
        <img src="images/placeholder.jpg" alt="beekeeper">
        <h4 class="fancy">Ethical Harvest</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit optio voluptatibus mollitia architecto possimus
            nulla ut?</p>
    </div>
</section>

<section class="gradient">
    <div class="horizontal-snap">
        <img class="element" src="images/placeholder.jpg">
        <img class="element" src="images/placeholder.jpg">
        <img class="element" src="images/placeholder.jpg">
        <img class="element" src="images/placeholder.jpg">
        <img class="element" src="images/placeholder.jpg">
        <img class="element" src="images/placeholder.jpg">
        <img class="element" src="images/placeholder.jpg">
        <img class="element" src="images/placeholder.jpg">
        <img class="element" src="images/placeholder.jpg">
      </div>
</section>
<section id="overflow"></section>

<section>
    <h5 style="max-width: 1500px; margin-inline: auto;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur et ea beatae adipisci amet eius, reiciendis, deserunt ad in recusandae corrupti deleniti dolores doloribus pariatur earum quibusdam asperiores nemo laborum delectus labore! Ullam autem quisquam ab consequuntur aliquam suscipit nisi voluptatum fuga recusandae adipisci, magni est dolor odit, expedita maxime in culpa esse cupiditate natus nihil voluptas porro eum perspiciatis! Voluptate reiciendis consequatur minima enim ullam nulla accusantium dolores animi in fuga ipsum, voluptatem sequi consequuntur illo facilis dicta omnis. Nulla facilis magnam consequuntur quidem, eum in dignissimos amet laborum, voluptates optio libero a, incidunt iste commodi corporis accusantium culpa?</h5>
</section>

<section class="bg">

</section>

<section class="testimonials">
    <div class="quote">
        <q>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque consectetur eum tempore quaerat, eos in.</q>
        <div class="profile-card">
            <img src="images/placeholder.jpg" alt="profile">
            <div class="profile-info">
                <h5>John Smith Doe</h5>
                <p>Company Name</p>
            </div>
        </div>
    </div>
    <div class="quote">
        <q>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque consectetur eum tempore quaerat, eos in.</q>
        <div class="profile-card">
            <img src="images/placeholder.jpg" alt="profile">
            <div class="profile-info">
                <h5>John Smith Doe</h5>
                <p>Company Name</p>
            </div>
        </div>
    </div>
    <div class="quote">
        <q>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque consectetur eum tempore quaerat, eos in.</q>
        <div class="profile-card">
            <img src="images/placeholder.jpg" alt="profile">
            <div class="profile-info">
                <h5>John Smith Doe</h5>
                <p>Company Name</p>
            </div>
        </div>
    </div>
</section>