.logo_pic {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: $cream;
  margin-block: 0.5em;
  cursor: pointer;
  transition: all 300ms linear;

  margin-left: 1.25em;

  &:hover {
    animation: scale 400ms ease;
  }
}

@keyframes scale {
  50% {
    scale: 1.1;
  }
}

nav {
  background-color: lighten($color: $green, $amount: 5);
  position: sticky;
  top: 0;
  z-index: 100;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1);
  

  transition: all 200ms linear;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1500px;
  margin-inline: auto;
}

.nav-links {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  gap: 10px;

  margin-right: 1.25em;
}

.nav-links li:not(:has(.button)) {
  padding: 1em 1.5em;
  color: $light-text;
  cursor: pointer;
  border-radius: 2em;
  
  &:hover {
    background-color: $green;
  }

  &:active {
    background-color: darken($color: $green, $amount: 5);
  }
}

.nav-links .button {
  margin: 0 !important;
  width: 150px;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-right: 1.25em;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background: $light-text;
  margin: 4px 0;
  transition: 0.3s;
}
