@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap");
footer {
  background-color: #8d613e;
  color: #fff5e6;
  width: 100%;
  padding: 1em 2em;
}
footer h5 {
  color: #fbe8da;
  flex-basis: 1;
  width: 100%;
  text-align: center;
}
footer h5 span {
  color: inherit;
}
footer .logo_pic {
  animation: none !important;
  width: 120px;
  height: 120px;
  justify-self: center;
}
footer .navbar {
  gap: 10px;
}

.links a {
  margin-inline: 1em;
}
.links a:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.social-buttons p {
  margin-block: 10px;
  color: #fbe8da;
  font-size: 1em;
}
.social-buttons .social-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  border-radius: 50%;
  transition: all 0.5s ease;
}
.social-buttons .social-button.facebook {
  background: #3b5998;
}
.social-buttons .social-button.facebook:hover, .social-buttons .social-button.facebook:focus {
  color: #3b5998;
  background: #fbe8da;
  border-color: #3b5998;
}
.social-buttons .social-button.tiktok {
  background: #000;
}
.social-buttons .social-button.tiktok:hover, .social-buttons .social-button.tiktok:focus {
  color: #000;
  background: #fbe8da;
  border-color: #000;
}
.social-buttons .social-button.youtube {
  background: #bb0000;
}
.social-buttons .social-button.youtube:hover, .social-buttons .social-button.youtube:focus {
  color: #bb0000;
  background: #fbe8da;
  border-color: #bb0000;
}
.social-buttons .social-button.instagram {
  background: #c05173;
}
.social-buttons .social-button.instagram:hover, .social-buttons .social-button.instagram:focus {
  color: #c05173;
  background: #fbe8da;
  border-color: #c05173;
}
.social-buttons i {
  margin: 0;
}
.social-buttons .social-buttons,
.social-buttons .fa-facebook-f,
.social-buttons .fa-tiktok,
.social-buttons .fa-youtube,
.social-buttons .fa-instagram {
  font-size: 25px;
}

.logo {
  display: grid;
}

.logo_pic {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #fbe8da;
  margin-block: 0.5em;
  cursor: pointer;
  transition: all 300ms linear;
  margin-left: 1.25em;
}
.logo_pic:hover {
  animation: scale 400ms ease;
}

@keyframes scale {
  50% {
    scale: 1.1;
  }
}
nav {
  background-color: #8d613e;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 200ms linear;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1500px;
  margin-inline: auto;
}

.nav-links {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-right: 1.25em;
}

.nav-links li:not(:has(.button)) {
  padding: 1em 1.5em;
  color: #fff5e6;
  cursor: pointer;
  border-radius: 2em;
}
.nav-links li:not(:has(.button)):hover {
  background-color: #7b5536;
}
.nav-links li:not(:has(.button)):active {
  background-color: #6a492e;
}

.nav-links .button {
  margin: 0 !important;
  width: 150px;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-right: 1.25em;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background: #fff5e6;
  margin: 4px 0;
  transition: 0.3s;
}

#home-top {
  margin-top: 5em;
  text-align: center;
}
#home-top h5 {
  margin-block: 4em;
  font-weight: 100;
}

.textdeco {
  transform: translateY(1em);
  width: 12.5em;
}

.hero {
  display: flex;
  flex-direction: column;
  max-width: 1500px;
  margin-inline: auto;
  margin-top: 2em;
  padding-inline: 2em;
  text-align: center;
}
.hero img {
  max-width: 100%;
}

.hero div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero div .button {
  margin-top: 1em;
}

#honeycomb {
  background-color: #fbe8da;
  background-image: url("../images/honeycomb.png");
  background-blend-mode: multiply;
  background-size: 10%;
  display: grid;
  place-items: center;
  padding: 5em 8em;
  margin-top: 2em;
}
#honeycomb div {
  background-color: #fbe8da;
  padding: 5em 8em;
  border-radius: 1.75em;
  text-align: center;
}

#cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  max-width: 1500px;
  margin-inline: auto;
  padding-block: 2em;
}

.card {
  background-color: #8d613e;
  border-radius: 8px;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  text-align: center;
}
.card img {
  width: 150px;
  margin-bottom: 0.75em;
  -webkit-mask-image: url(../images/hexagon.svg);
          mask-image: url(../images/hexagon.svg);
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
}

.card h4 {
  color: #fff5e6;
}

.card p {
  color: #fbe8da;
}

.gradient {
  background-image: linear-gradient(#ffc107, #fdb434);
  padding-top: 1em;
}

.horizontal-snap {
  width: 100vw;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 1rem 0.25rem;
  overflow: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  max-width: 1500px;
  margin-inline: auto;
}
.horizontal-snap::-webkit-scrollbar {
  height: 0.25rem;
}
.horizontal-snap::-webkit-scrollbar-track {
  background: #ffc107;
}
.horizontal-snap::-webkit-scrollbar-thumb {
  background: color-mix(in srgb, #ffc107 50%, #fff 50%);
}
.horizontal-snap .element {
  scroll-snap-align: center;
  width: 65vw;
  aspect-ratio: 16/10;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: lightgray;
  box-shadow: 0px 8px 5px -6px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  cursor: zoom-in;
}

.testimonials {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  max-width: 1500px;
  margin-inline: auto;
  padding: 2em;
}

.quote {
  border-radius: 8px;
  padding: 1em;
  width: 300px;
  flex-grow: 1;
}

.profile-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  max-width: 300px;
  margin-block: 1rem;
}

.profile-card img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #fbe8da;
}

.profile-info h5 {
  font-size: 1rem;
  margin: 0;
}

.profile-info p {
  font-size: 0.9rem;
  margin: 0;
  color: #555;
}

q {
  font-size: larger;
  font-weight: 100;
  font-family: "Open Sans", sans-serif;
}

q::before {
  content: "\f10d";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: #ffc107;
  margin-right: 0.2em;
}

q::after {
  content: "\f10e";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: #ffc107;
  margin-left: 0.2em;
}

#overflow {
  width: 100%;
  height: 160px;
  background-image: url(../images/under.webp);
}

.bg {
  height: 500px;
  background-image: url(../images/sweet-honey-drips-background_90220-293.avif);
  background-size: contain;
}

.flex {
  max-width: 1500px;
  margin-inline: auto;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  padding: 2em;
}
.flex img {
  max-width: 30%;
  min-width: 300px;
}

dialog {
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  padding: 0;
  overflow: hidden;
  width: 90%;
  max-width: 600px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fbe8da;
}

dialog img {
  max-width: 100%;
  height: auto;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}

dialog button {
  display: block;
  margin: 10px auto;
  background-color: #ffc107;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

dialog button:hover {
  background-color: #365742;
  color: #fff5e6;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.8);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
*::-moz-selection {
  background-color: #ffc107;
  color: #333333;
}
*::selection {
  background-color: #ffc107;
  color: #333333;
}

html::-webkit-scrollbar {
  width: 0.25rem;
}
html::-webkit-scrollbar-track {
  background: #8d613e;
}
html::-webkit-scrollbar-thumb {
  background: color-mix(in srgb, #8d613e 50%, #fff 50%);
}

body {
  padding: 0;
  margin: 0;
  min-block-size: 100vh;
  background-color: #fbe8da;
  display: grid;
  align-content: space-between;
  grid-template-rows: min-content;
}

.fancy {
  font-family: "Charm", cursive;
  font-weight: 700;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
li,
a {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
  color: #333333;
}

a {
  color: unset;
  text-decoration: none;
}

h1 {
  font-size: 6.25em;
}

h2 {
  font-size: 5em;
}

h3 {
  font-size: 3.75em;
}

h4 {
  font-size: 2.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}

p {
  font-size: 1em;
}

i {
  margin-right: 7px;
}

.button {
  margin-top: 25px;
  background-color: #ffc107;
  border: 0 solid #e5e7eb;
  color: #333333;
  display: flex;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  line-height: 1.75rem;
  padding: 0.75rem 1.65rem;
  position: relative;
  text-align: center;
  -webkit-text-decoration: none #000 solid;
          text-decoration: none #000 solid;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  touch-action: manipulation;
  transition: 100ms linear;
}

.button:focus {
  outline: 0;
}

.button:after {
  content: "";
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
  transition: 100ms linear;
}

.button:hover {
  background-color: #db6a00;
  color: #fff5e6;
}
.button:hover:after {
  bottom: 2px;
  left: 2px;
}

/* Responsive adjustments */
@media (min-width: 1000px) {
  .hero {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .hero img {
    max-width: 30%;
  }
  .hero div {
    padding-block: 2em;
  }
  .hero div .button {
    margin-top: auto;
  }
  .swap {
    flex-direction: row-reverse;
  }
  .flex {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .scrolled {
    opacity: 0.35;
  }
  .scrolled:hover {
    opacity: 1;
  }
  .button {
    padding: 0.75rem 3rem;
    font-size: 1.25rem;
  }
}
@media (max-width: 1500px) {
  #honeycomb {
    padding: auto;
  }
  #honeycomb div {
    padding: auto;
  }
  .social-buttons {
    margin-top: 2em;
  }
}
@media (max-width: 900px) {
  footer .navbar {
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 4.6875em;
  }
  h2 {
    font-size: 3.75em;
  }
  h3 {
    font-size: 2.8125em;
  }
  h4 {
    font-size: 1.875em;
  }
  h5 {
    font-size: 0.9375em;
  }
  #honeycomb {
    padding: 1em 2em;
    margin-top: 40px;
    background-size: 20%;
  }
  #honeycomb div {
    padding: 0.75em 1.5em;
  }
  .social {
    justify-content: center;
  }
  nav {
    align-items: center;
  }
  ul {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  li {
    padding: 1em 0;
  }
  .nav-links {
    display: none;
    height: 0;
    background-color: #8d613e;
    top: 86px;
    transition: all 0.25s ease;
    padding-block: 1em;
    grid-template-rows: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    position: fixed;
    max-width: 100vw;
    margin-right: 0;
  }
  .nav-links.active {
    display: grid;
    height: auto;
  }
  .hamburger {
    display: flex;
  }
  .hamburger span {
    transform-origin: right;
  }
  .top-bun.pressed {
    transform: rotate(-45deg);
    width: 123%;
  }
  .stuffing.pressed {
    opacity: 0;
  }
  .bottom-bun.pressed {
    transform: rotate(45deg);
    width: 123%;
  }
}/*# sourceMappingURL=style.css.map */